<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bintang Samudro</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <a class="name">Bintang Samudro</a>
        </div>
        <div class="nav-right">
            <a href="#social-media">Social Media</a>
            <a href="#home">Home</a>
        </div>
    </div>
    <div class="home" id="home">
        <div class="container-profile">
            <div class="judul">
                <h2>My Biodata</h2>
            </div>
            <div class="foto">
                <img src="{% static 'home/BintangSamudro.jpg' %}" width="150px" class="center">
            </div>
            <div class="border-biodata">
                <div class="biodata">
                    <table>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">Nama</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">Bintang Samudro</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">NPM</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">1906399410</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">Jurusan</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">Sistem Informasi</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">Angkatan</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">2019</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">Hobi</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">Futsal</td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><p><span style="font-weight: bold;">Tempat Kuliah</span></p></td>
                            <td style="width: 5%">:</td>
                            <td style="width: 60%">Universitas Indonesia</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="container-profile">
            <div class="deskripsi-diri">
                <div class="judul">
                    <h2>My Description</h2>
                </div>
                <div class="kotakan-isi">
                    <div class="isi">
                        <div class="paragraph">
                            My name is Bintang Samudro from the Faculty of Computer Science,
                            University of Indonesia, here I want to be a Full-stack Developer. I live in Tambun Selatan and during offline college,
                            I lived in a boarding house in Kukel. I also have a hobby other
                            than coding, which is playing futsal and
                            communicating with many people to have a lot of connections</div>
                        <div class="second-paragraph">I am a student who has a passion with anything related to technology,
                            therefore I have decided my goal to help many people by using technology. With technology we can
                            solve problems and I hope that in the future I will be able to contribute not only to Indonesia
                            but to the world in developing something
                        </div>
                    </div>
                </div>
            </div>
            <div class="pendidikan">
                <div class="judul-pendidikan">
                    <h3>Riwayat Pendidikan</h3>
                </div>
                <div class="table-pendidikan">
                    <table style="width:100%">
                        <tr>
                            <td width="30%"><span style="font-weight: bold;">2010 ~ 2013</span></td>
                            <td width="70%">SDIT AN - Nadwah</td>
                        </tr>
                        <tr>
                            <td width="30%"><span style="font-weight: bold;">2013 ~ 2016</span></td>
                            <td width="70%">SMPN 2 Tambun Selatan</td>
                        </tr>
                        <tr>
                            <td width="30%"><span style="font-weight: bold;">2016 ~ 2019</span></td>
                            <td width="70%">SMAN 1 Tambun Selatan</td>
                        </tr>
                        <tr>
                            <td width="30%"><span style="font-weight: bold;">2019 ~ Sekarang</span></td>
                            <td width="70%">Universitas Indonesia</td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <div class="social-media" id="social-media">
        <div class="container-social-media">
            <div class="container-social-media-title">
                <h1>Get In Touch With Me</h1>
            </div>
            <div class="social-media-menu">
                <ul>
                    <li><a href="https://www.facebook.com/bintang.samudro.319" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/samudro_bintang" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/bintang_samudro/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bintang-samudro-180a16136/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>  
    </div>
</body>
</html>